<ion-content class="ion-padding ion-margin">
  <ion-slides pager="true" [options]="slideOptions" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)"
    (ionSlideReachEnd)="slidesEnd(slider)">
    <ion-slide>
      <img src="assets/onboarding/collab.svg" />
      <h2> gratissimum </h2>
      <p> onec faucibus enim in nisi vestibulum porttitor. Pellentesque habitant morbi
        tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/onboarding/medical_research.svg" />
      <h2> slide 2 !!!</h2>
      <p> Lorem ipsum in nisi vestibulum porttitor. Pellentesque habitant morbi tristique senectus et netus et
        malesuada fames ac.</p>
    </ion-slide>

    <ion-slide>
      <img src="assets/onboarding/social_distancing.svg" />
      <h2> slide 3 !!!</h2>
      <p> Lorem ipsum, posuere odio in, porttitor velit. Nulla pretium eleifend nisl. Praesent eleifend
        at dui sit amet accumsan.</p>
      <ion-button fill="outline" (click)="onBoardingComplete()">
        Continue <ion-icon slot=" end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
