ion-slides {
  height: 100%;
}

ion-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    padding-top: 2vh;
    font-size: xx-large;
    font-weight: bolder;
    align-self: flex-start;
    margin-left: 10vw;
    position: relative;
  }

  h1:after {
    content: "";
    position: absolute;
    width: 110%;
    height: 55%;
    background-color: var(--ion-color-light-shade);
    z-index: -1;
    left: -5%;
    bottom: -4px;
  }

  img {
    max-height: 50%;
    max-width: 80%;
    pointer-events: none;
  }

  p {
    line-height: 1.3;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: x-large;
    color: var(--ion-color-step-600, #6A8CAF);
  }
}