#map-container {
  width: 100%;
  height: 100%;
}

ion-searchbar {
  --box-shadow: transparent;
  --background: var(--ion-color-light);
}

map-filter, app-footer-nav {
  z-index: 2;
}

.float-search {
  position: absolute;
  width: 100%;
  top: 10vh;
  z-index: 1;
}
