<ion-toolbar fixed color="primaryHL">
  <ion-buttons slot="primary">
    <ion-button [color]="isFilterEnabled ? 'medium' : 'dark'" (click)="toggleFiltering()">
      Search Filters
      <ion-icon slot="start" name="filter"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-searchbar inputmode="search" showCancelButton="focus" animated (ionChange)="handleAddressSearch($event)"
    placeholder="Search by address" (ionBlur)="handleOnBlur()" [(ngModel)]="searchQuery"></ion-searchbar>
</ion-toolbar>
