ion-title {
  font-weight: 700;
  font-size: 1.375 rem;
}
ion-card {
  margin-top: 2rem;
  border-radius: 20px;
}

ion-card-header {
  padding-bottom: 0%;
}

ion-card-title {
  font-weight: 700;
  font-size: 1rem;
}
ol {
  font-size: 0.75rem;
  padding-left: 0.9rem;
  li {
    margin-bottom: 0.1em;
  }
}

h3 {
  font-weight: 700;
  font-size: 1rem;
}

.circle {
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-dark);
}
.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.v-stepper {
  position: relative;
}

.step .circle {
  background-color: white;
  border: 3px solid gray;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.step .line {
  top: 23px;
  left: 8px;
  height: 100%;

  position: absolute;
  border-left: 3px dashed gray;
}

.step.completed .circle {
  visibility: visible;
  background-color: var(--ion-color-medium);
  border-color: var(--ion-color-medium);
}

.step.completed .line {
  border-left: 3px dashed #00000029;
}

.step:last-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.content {
  position: relative;
  bottom: 0.9rem;
  margin-left: 20px;
  display: inline-block;
  font-size: 0.75rem;
  line-height: 1.25em;
}
.step-index {
  font-size: 0.8rem;
}

.container {
  margin: 2rem 1rem;
}
