<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title>Quarantine Help</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-text class="ion-padding-vertical">
      <h5>
        <ion-icon name="chevron-back-outline"></ion-icon> My Request
      </h5>
    </ion-text>
  </ion-item>
  <div class="ion-text-center ion-padding-vertical">
    <ion-icon *ngIf="isGrocery" class="size" name="cart-outline"></ion-icon>
    <ion-text *ngIf="isGrocery">
      <h5> Grocery </h5>
    </ion-text>
    <ion-icon *ngIf="!isGrocery" class="size" name="bandage-outline"></ion-icon>
    <ion-text *ngIf="!isGrocery">
      <h5> Medicine </h5>
    </ion-text>
  </div>
  <ion-text>
    <p class="ion-padding-horizontal"> I need help in delivering fruits and vegetables. </p>
  </ion-text>
</ion-content>