<div class="ion-padding modal-container">
  <ion-text>
    <h1> <strong> {{ question }} </strong> </h1>
  </ion-text>
  <ion-text>
    <small> {{ note }} </small>
  </ion-text>
  <ion-grid>
    <ion-row class="space-top">
      <ion-col>
        <ion-radio mode="md" value="nope"></ion-radio>
        <ion-label>Nope</ion-label>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Yes</ion-label>
          <ion-input></ion-input>
        </ion-item>        
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center button-margin">
      <ion-col>
        <ion-button color="light" shape="round" strong="true"> Finish </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-button (click)="dismiss()"> close </ion-button> -->
</div>
