.modal-container {
  background-color: #f2cfcf;
  height: 100vh;
  --ion-padding: 32px;
}

h1 {
  margin-top: 20vh;
}

small {
  margin-top: 5vh;
  display: block;
}

.space-top {
  margin-top: 2vh;
}

.button-margin {
  margin-top: 7vh;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
