ion-content {
  height: 70vh;
}

ion-label {
  align-items: center;
}

ion-img {
  max-width: 20vmin;
  max-height: 20vmin;
}

.menu-item {
  padding-left: 1vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.menu-header {
  letter-spacing: 0.1em;
  font-family: monospace;
}

.ios {
  .active-menu {
    ion-icon {
      margin-right: 16px;
    }
  }
}

.active-menu {
  border-left: 5px solid var(--ion-color-primary);

  ion-icon {
    margin-right: 27px;
  }
}

.footer-md::before {
  background-image: none;
}

//lg devices (HD) - height based
@media (min-height:768px) and (max-height:1080px) {

  .list-md,
  .list-ios {
    margin-top: 6vh;
  }
}

//xl devices (FHD) - height based
@media (min-height:1080px) and (max-height:2160px) {

  .list-md,
  .list-ios {
    margin-top: 15vh;
  }
}

// xxl devices (4K) - height based
@media (min-height:2160px) {

  .list-md,
  .list-ios {
    margin-top: 20vh;
  }
}