<ion-header translucent>
  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col size="3" class="ion-padding-end">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </ion-col>
    <ion-col size="9">
      <ion-text>
        <h3>Quarantine Help</h3>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-list lines="full">
    <ion-menu-toggle auto-hide="false" *ngFor="let page of pages">
      <ion-item [routerLink]="page.path" routerDirection="root" [class.active-menu]="activePath === page.path"
        class="menu-item ion-justify-content-center ion-align-items-center">
        <ion-icon color="primary" [name]="page.icon" slot="start"></ion-icon>
        <ion-label>{{ page.name }}</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-row class="ion-padding ion-justify-content-center ion-align-items-center">
    <ion-col>
      <ion-menu-toggle>
        <ion-button fill="outline" expand="block" shape="round" size="default">Close</ion-button>
      </ion-menu-toggle>
    </ion-col>
  </ion-row>
</ion-footer>
