<ion-item lines="full" button  class="ion-padding-top ion-justify-content-center ion-align-items-center">
  <ion-grid>
  <ion-row class="item-background">
    <ion-col size="2" class="ion-text-center item-background">
      <div class="topspace"> 
        <span> May </span>
        <h3 class="ion-no-margin">  15  </h3> 
        <span> 2020 </span>
      </div>
    </ion-col>
    <ion-col size="8" class="item-background">
      <div class="ion-padding white">
       Lorem ipsum 
      </div>
      <small> 3:00 PM </small>
    </ion-col>
    <ion-col size="2" class="ion-text-center item-background">
      <ion-icon class="topspace" color="danger" name="medkit"> </ion-icon>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-item>