.topbar {
  --background: #f4f5f5;
}
.size {
  font-size: 64px;
}
.deadline {
  margin-top: 0px;
}
.bottom-border {
  border-bottom: solid 1px gray;
}
.transit {
  margin-right: 18px;
}
.description {
  font-size: large;
  background-color: #f4f5f5;
}
.vertical-space {
  margin-top: 130px;
}
