ion-icon {
  &[name='calendar-outline'] {
    font-size: 64px;
  }

  &[name='bicycle-outline'] {
    font-size: 32px;
  }

  vertical-align: middle;
}

hr {
  border-bottom: solid 1px #d7dae5;
}

.request-desc {
  font-size: large;
  line-height: 4vh;
  min-height: 116px;
  max-height: 200px;
}

h5 {
  margin: 0px;
  padding: 0px;
}