<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed [color]="userThemeColorPrimary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" defaultHref="/my-requests"></ion-back-button>
      <ion-title>Request detail</ion-title>
    </ion-buttons>
    <ion-text slot="end" class="ion-padding" (click)="editRequest()">edit</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding ion-justify-content-center ion-align-items-center" color="medium">
  <ion-item lines="none" [color]="userThemeColorPrimary" class="ion-align-items-center">
    <ion-text class="status ion-no-padding ion-padding-top ion-padding-start ion-no-margin ion-margin-start ion-margin-top"
      slot="start">
      <h6 *ngIf="requestData.type=='G'">
        <ion-icon size="large" name="cart"></ion-icon> Grocery Request
      </h6>
      <h6 *ngIf="requestData.type=='M'">
        <ion-icon size="large" name="medkit"></ion-icon> Medicine Request
      </h6>
    </ion-text>
    <ion-text slot="end" class="ion-padding-top ion-no-margin ion-margin-top ion-margin-end">100 SEK</ion-text>
  </ion-item>
  <ion-item lines="none" [color]="userThemeColorPrimary"
    class="request-desc-box ion-no-padding ion-no-margin ion-text-wrap">
    <ion-text
      class="request-desc-text ion-padding ion-margin-top ion-margin-bottom ion-justify-content-center ion-align-items-center"
      [ngClass]="userType">
      {{ requestData.description }}
    </ion-text>
  </ion-item>
  <ion-item class="deadline-date ion-justify-content-center ion-align-items-center" color="secondaryAF">
    <ion-text color="danger" class="ion-text-center"> Before
      {{ requestData.deadline | date: 'yyyy/M/d' }}
      {{ requestData.deadline | date:'h' }}:{{ requestData.deadline | date:'mm' }} {{ requestData.deadline |
      date:'aa' }}
    </ion-text>
  </ion-item>
  <ion-grid class="person ion-padding">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-text>
        <h5>Jonas Wang</h5>
        <!-- <h3> {{ requestData.assignee.user.firstName }} {{ requestData.assignee.user.lastName }}</h3> -->
      </ion-text>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-text color="themetext">+46 732-421-988 (call me)</ion-text>
      <!-- <ion-text color="themetext">
        {{ requestData.assignee.phone }} (call me)
      </ion-text> -->
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-text color="themetext">Stora gata No.2, stockholm, SE</ion-text>
    </ion-row>
    <ion-row class="ion-margin-bottom" *ngIf="(userType==='AF') && (requestData.assignee !== null)">
      <ion-col size="5">
        <ion-text>
          <h5> Assignee Details </h5>
        </ion-text>
      </ion-col>
      <ion-col offset="1" size="6">
        <ion-row class="ion-justify-content-start ion-align-items-center ion-padding-bottom">
          <ion-icon name="person-circle-outline"></ion-icon>&nbsp;&nbsp;
          <ion-text>
            <h5><strong></strong></h5>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-start ion-align-items-center"
          (click)="callAssignee(requestData.assignee.phone)">
          <ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;
          <ion-text>
            <h5></h5>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="status ion-no-padding ion-no-margin">
    <ion-row class="ion-padding-horizontal ion-align-items-center">
      <ion-col size="6">
        <ion-text>
          <h6> Request status </h6>
        </ion-text>
      </ion-col>
      <ion-col size="6" class="statusText ion-justify-content-end ion-align-items-end">
        <ng-container [ngSwitch]="requestData.status">
          <ng-container *ngSwitchCase="'P'" color="themetext">
            <ion-icon class="medium-icon" name="stopwatch" color="warning"></ion-icon>
            <ion-text class="ion-text-end">
              Waiting
            </ion-text>
          </ng-container>
          <ng-container *ngSwitchCase="'T'">
            <ion-icon class="medium-icon" name="bicycle" color="themetext"></ion-icon>
            <ion-text class="ion-text-end">
              On the way
            </ion-text>
          </ng-container>
          <ng-container *ngSwitchCase="'F'">
            <ion-icon class="medium-icon" name="checkmark-circle" color="success"></ion-icon>
            <ion-text class="ion-text-end">
              Finished
            </ion-text>
          </ng-container>
          <ng-container *ngSwitchCase="'C'">
            <ion-icon class="medium-icon" name="close-circle-outline" color="danger"></ion-icon>
            <ion-text class="ion-text-end">
              Cancelled
            </ion-text>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <ion-icon class="medium-icon" name="bug-outline" color="danger"></ion-icon>
            <ion-text class="ion-text-end">
              Unknown
            </ion-text>
          </ng-container>
        </ng-container>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical ion-padding-horizontal">
      <ion-text class="acceptedMessage">
        <strong>
          Teresa accept your request at 2:00pm, Saturday.
        </strong>
      </ion-text>
    </ion-row>
    <ion-row class="ion-margin-top ion-padding-horizontal">
      <ion-text>
        You will be called by our volunteer, if not please reach out to teresa directly
      </ion-text>
      <ion-text color="themetext">
        +46 235-324-211
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding-horizontal ion-justify-content-center ion-align-items-center"
  *ngIf="(userType==='HL') && (requestData.status === 'P' || requestData.status === 'T')">
  <ion-row class="ion-justify-content-center ion-align-items-center ion-padding-vertical">
    <ion-col size-md="4" size-lg="3" size-xs="6" class="ion-justify-content-center ion-align-items-center">
      <ion-button (click)="displayRejectModal()" strong="true" fill="clear" size="default" color="dark"> cancel delivery
      </ion-button>
    </ion-col>
    <ion-col size-md="4" size-lg="3" size-xs="6" class="ion-justify-content-center ion-align-items-center">
      <ion-button (click)="displayResolveModal()" class="ion-padding-end ion-margin-end" color="secondaryHL"
        strong="true" fill="solid" size="large" shape="round">resolve
        request</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
<ion-footer class="ion-no-border ion-padding-horizontal ion-justify-content-center ion-align-items-center"
  *ngIf="(userType==='AF') && (requestData.status === 'P' || requestData.status === 'T')">
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-col size-md="4" size-lg="3" size-xs="6">
      <ion-button (click)="displayCloseRequestModal()" color="secondaryAF" strong="true" size="large" shape="round">
        close request
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
