ion-toolbar {
  --border-color: transparent;
}

ion-button {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}

ion-text{
  strong{
    vertical-align: middle;
  }
}

ion-icon {
  vertical-align: middle;
}

.reg-icon {
  zoom: 1.5;
}

.formInvalid {
  color: #ea6153;
  text-align: center;
}

ion-header::after {
  background: none;
}

.menu-header {
  letter-spacing: 0.1em;
  font-size: xxx-large;
  font-family: monospace;
}

ion-card {
  height: 90%;
  display: flex;
  align-items: center;
  box-shadow: none;
}

//md upto lg devices
@media (min-width:768px) {
  ion-img {
    max-width: 50vw;
    max-height: 200px;
  }
}

// xl and above devices
@media (min-width:1200px) {
  ion-toolbar {
    height: 15vh;
  }

  ion-img {
    max-width: 25vw;
    max-height: 12vh;
  }
}