<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title>Quarantine Help</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-margin">
  <ion-grid class="ion-padding top-spacer">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="2" size-lg="2">
        <ion-text color="primary">
          <h1>My Profile</h1>
        </ion-text>
      </ion-col>
      <ion-col size-md="2" offset-md="2" size-lg="2" offset-lg="2">
        <ion-button expand="block" fill="clear" *ngIf="isEditable; else showEditRef" color="danger"
          (click)="onCancel()">
          <ion-icon name="caret-back-outline" slot="start"></ion-icon> Cancel
        </ion-button>
        <ng-template #showEditRef>
          <ion-button expand="block" fill="clear" (click)="onEdit()" color="secondary">
            <ion-icon name="create-outline" slot="start"></ion-icon> Edit
          </ion-button>
        </ng-template>
      </ion-col>
    </ion-row>

    <form [formGroup]="volRegForm" *ngIf="isVolunteer; else quaRegFormRef" class="ion-padding-top ion-margin-top">
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="2" size-lg="2">
          <ion-item>
            <ion-label color="medium" position="floating">First Name</ion-label>
            <ion-input [readonly]="!isEditable" formControlName="firstName" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(volRegForm.get('firstName').invalid && (volRegForm.get('firstName').dirty || volRegForm.get('firstName').touched))">
            <div *ngIf="volRegForm.get('firstName').errors.required">
              First Name is required.
            </div>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="2">
          <ion-item>
            <ion-label color="medium" position="floating">Last Name</ion-label>
            <ion-input [readonly]="!isEditable" formControlName="lastName" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(volRegForm.get('lastName').invalid && (volRegForm.get('lastName').dirty || volRegForm.get('lastName').touched))">
            <div *ngIf="volRegForm.get('lastName').errors.required">
              Last Name is required.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item>
            <ion-label color="medium" position="floating">Email address </ion-label>
            <ion-input [readonly]="!isEditable" formControlName="email" required type="email"></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(volRegForm.get('email').invalid && (volRegForm.get('email').dirty || volRegForm.get('email').touched))">
            <div *ngIf="volRegForm.get('email').errors.required">
              Email address is required.
            </div>
            <div *ngIf="volRegForm.get('email').errors.email">
              Please enter a valid email.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item>
            <ion-label color="medium" position="floating">Phone Number </ion-label>
            <ion-input [readonly]="!isEditable" formControlName="phoneNumber" required type="tel"></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(volRegForm.get('phoneNumber').invalid && (volRegForm.get('phoneNumber').dirty || volRegForm.get('phoneNumber').touched))">
            <div *ngIf="volRegForm.get('phoneNumber').errors.required">
              Phone Number is required.
            </div>
            <div *ngIf="volRegForm.get('phoneNumber').errors.minlength">
              Please enter atleast 8 digits.
            </div>
            <div *ngIf="volRegForm.get('phoneNumber').errors.maxlength">
              Number exceeded maximum length.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>

    <ng-template #quaRegFormRef>
      <form [formGroup]="quaRegForm" class="ion-padding-top ion-margin-top">
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="2" size-lg="2">
            <ion-item>
              <ion-label color="medium" position="floating">First Name</ion-label>
              <ion-input [readonly]="!isEditable" formControlName="firstName" required></ion-input>
            </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('firstName').invalid && (quaRegForm.get('firstName').dirty || quaRegForm.get('firstName').touched))">
              <div *ngIf="quaRegForm.get('firstName').errors.required">
                First Name is required.
              </div>
            </ion-item>
          </ion-col>
          <ion-col size-md="2" size-lg="2">
            <ion-item>
              <ion-label color="medium" position="floating">Last Name</ion-label>
              <ion-input [readonly]="!isEditable" formControlName="lastName" required></ion-input>
            </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('lastName').invalid && (quaRegForm.get('lastName').dirty || quaRegForm.get('lastName').touched))">
              <div *ngIf="quaRegForm.get('lastName').errors.required">
                Last Name is required.
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-lg="4" size-xs="12">
            <ion-item>
              <ion-label color="medium" position="floating"> Address </ion-label>
              <ion-input [readonly]="!isEditable" formControlName="address" required></ion-input>
            </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('address').invalid && (quaRegForm.get('address').dirty || quaRegForm.get('address').touched))">
              <div *ngIf="quaRegForm.get('address').errors.required">
                Address is required.
              </div>
              <div *ngIf="quaRegForm.get('address').errors.minlength">
                Please enter minimum 2 characters.
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-lg="4" size-xs="12">
            <ion-item>
              <ion-label color="medium" position="floating"> City </ion-label>
              <ion-input [readonly]="!isEditable" formControlName="city" required></ion-input>
            </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('city').invalid && (quaRegForm.get('city').dirty || quaRegForm.get('city').touched))">
              <div *ngIf="quaRegForm.get('city').errors.required">
                City is required.
              </div>
              <div *ngIf="quaRegForm.get('city').errors.minlength">
                Please enter minimum 2 characters.
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-lg="4" size-xs="12">
            <ion-item (click)="showCountrySearch()">
              <ion-label color="medium" position="floating"> Country </ion-label>
              <ion-input readonly="true" formControlName="country" required> </ion-input>
            </ion-item>
            <ion-item *ngIf="displayCountrySearch && isEditable">
              <ion-searchbar (ionChange)="filterCountries($event)"></ion-searchbar>
              <ion-button expand="full" fill="none" (click)="showCountrySearch()">
                <ion-text color="danger">Exit</ion-text>
                <ion-icon color="danger" name="close"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item class="ion-padding-horizontal search-list" (click)="selectedCountry(item)"
              *ngFor="let item of result"> {{ item.name }} </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('country').invalid && (quaRegForm.get('country').dirty || quaRegForm.get('country').touched))">
              <div *ngIf="quaRegForm.get('country').errors.required">
                Country is required.
              </div>
              <div *ngIf="quaRegForm.get('country').errors.minlength">
                Please enter minimum 2 characters.
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-lg="4" size-xs="12">
            <ion-item>
              <ion-label color="medium" position="floating">Email address </ion-label>
              <ion-input [readonly]="!isEditable" formControlName="email" required type="email"></ion-input>
            </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('email').invalid && (quaRegForm.get('email').dirty || quaRegForm.get('email').touched))">
              <div *ngIf="quaRegForm.get('email').errors.required">
                Email address is required.
              </div>
              <div *ngIf="quaRegForm.get('email').errors.email">
                Please enter a valid email.
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="4" size-lg="4" size-xs="12">
            <ion-item>
              <ion-label color="medium" position="floating">Phone Number </ion-label>
              <ion-input [readonly]="!isEditable" formControlName="phoneNumber" required type="tel"></ion-input>
            </ion-item>
            <ion-item lines="none" class="formInvalid"
              *ngIf="(quaRegForm.get('phoneNumber').invalid && (quaRegForm.get('phoneNumber').dirty || quaRegForm.get('phoneNumber').touched))">
              <div *ngIf="quaRegForm.get('phoneNumber').errors.required">
                Phone Number is required.
              </div>
              <div *ngIf="quaRegForm.get('phoneNumber').errors.minlength">
                Please enter at least 8 digits.
              </div>
              <div *ngIf="quaRegForm.get('phoneNumber').errors.maxlength">
                Number exceeded maximum length.
              </div>
            </ion-item>
          </ion-col>
        </ion-row>
      </form>
    </ng-template>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="isEditable">
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-col size-md="4" size-lg="2" size-xs="8">
      <ion-button [disabled]="(volRegForm.pristine || volRegForm.invalid)" (click)="saveVolUser()" color="primary"
        shape="round" expand="full" size="default" fill="solid" *ngIf="isVolunteer; else showQuaSubmit"> Save
      </ion-button>
      <ng-template #showQuaSubmit>
        <ion-button [disabled]="(quaRegForm.pristine || quaRegForm.invalid)" (click)="saveQuaUser()" color="primary"
          shape="round" expand="full" size="default" fill="solid"> Save </ion-button>
      </ng-template>
    </ion-col>
  </ion-row>
</ion-footer>