ion-list {
  .search-list {
    background: var(--ion-color-light-tint);
  }

  max-height: 25vh;
  overflow-y: scroll;
  background-color: var(--ion-color-medium-shade);
  padding-bottom: var(--ion-padding, 8px);
  padding-top: var(--ion-padding, 8px);
}

ion-searchbar {
  --border-radius: 10px;
}

// md upto lg devices
@media (min-width: 768px) {
  ion-img {
    max-width: 50vw;
    max-height: 200px;
  }

  .top-spacer {
    padding-top: 10vh;
  }
}

// xl and above devices
@media (min-width: 1200px) {
  ion-toolbar {
    height: 9vh;
  }

  ion-img {
    max-width: 20vw;
    max-height: 12vh;
  }

  .top-spacer {
    padding: 5vh;
  }
}

.md {
  ion-segment-button {
    --indicator-height: 0.3em;
  }
}

.formInvalid {
  color: #ea6153;
  text-align: center;
}
