<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed [color]="userThemeColorPrimary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title>Quarantine Help</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-margin">
  <ion-grid class="ion-padding top-spacer">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="2" size-lg="2">
        <ion-text [color]="userThemeColorPrimary">
          <h1>My Profile</h1>
        </ion-text>
      </ion-col>
      <ion-col size-md="2" offset-md="2" size-lg="2" offset-lg="2">
        <ion-button expand="block" fill="clear" *ngIf="isEditable; else showEditRef" color="danger"
          (click)="onCancel()">
          <ion-icon name="caret-back-outline" slot="start"></ion-icon> Cancel
        </ion-button>
        <ng-template #showEditRef>
          <ion-button expand="block" fill="clear" (click)="onEdit()" color="secondary">
            <ion-icon name="create-outline" slot="start"></ion-icon> Edit
          </ion-button>
        </ng-template>
      </ion-col>
    </ion-row>

    <form [formGroup]="profileForm" class="ion-padding-top ion-margin-top">
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="2" size-lg="2">
          <ion-item>
            <ion-label color="medium" position="floating">First Name</ion-label>
            <ion-input [readonly]="!isEditable" formControlName="firstName" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('firstName').invalid && (profileForm.get('firstName').dirty || profileForm.get('firstName').touched))">
            <div *ngIf="profileForm.get('firstName').errors.required">
              First Name is required.
            </div>
          </ion-item>
        </ion-col>
        <ion-col size-md="2" size-lg="2">
          <ion-item>
            <ion-label color="medium" position="floating">Last Name</ion-label>
            <ion-input [readonly]="!isEditable" formControlName="lastName" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('lastName').invalid && (profileForm.get('lastName').dirty || profileForm.get('lastName').touched))">
            <div *ngIf="profileForm.get('lastName').errors.required">
              Last Name is required.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item>
            <ion-label color="medium" position="floating"> Address </ion-label>
            <ion-input [readonly]="!isEditable" formControlName="address" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('address').invalid && (profileForm.get('address').dirty || profileForm.get('address').touched))">
            <div *ngIf="profileForm.get('address').errors.required">
              Address is required.
            </div>
            <div *ngIf="profileForm.get('address').errors.minlength">
              Please enter minimum 2 characters.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item>
            <ion-label color="medium" position="floating"> City </ion-label>
            <ion-input [readonly]="!isEditable" formControlName="city" required></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('city').invalid && (profileForm.get('city').dirty || profileForm.get('city').touched))">
            <div *ngIf="profileForm.get('city').errors.required">
              City is required.
            </div>
            <div *ngIf="profileForm.get('city').errors.minlength">
              Please enter minimum 2 characters.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center" lines="none">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item (click)="showCountrySearch()">
            <ion-label color="medium" position="floating"> Country </ion-label>
            <ion-input readonly="true" formControlName="country" required> </ion-input>
          </ion-item>
          <ion-item *ngIf="displayCountrySearch && isEditable" lines="none">
            <ion-searchbar (ionChange)="filterCountries($event)"></ion-searchbar>
            <ion-button expand="full" fill="none" (click)="showCountrySearch()">
              <ion-text color="danger">Exit</ion-text>
              <ion-icon color="danger" name="close"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-list *ngIf="searchResult.length > 0" lines="none" class="ion-padding-top ion-padding-bottom">
            <ion-item lines="inset" class="ion-padding-horizontal search-list" (click)="setSelectedCountry(item)"
              *ngFor="let item of searchResult | slice:0:8"> {{ item.name }} </ion-item>
          </ion-list>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('country').invalid && (profileForm.get('country').dirty || profileForm.get('country').touched))">
            <div *ngIf="profileForm.get('country').errors.required">
              Country is required.
            </div>
            <div *ngIf="profileForm.get('country').errors.minlength">
              Please enter minimum 2 characters.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item>
            <ion-label color="medium" position="floating"> Post code </ion-label>
            <ion-input [readonly]="!isEditable" formControlName="postCode" required type="text"></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('postCode').invalid && (profileForm.get('postCode').dirty || profileForm.get('postCode').touched))">
            <div *ngIf="profileForm.get('postCode').errors.required">
              Post code address is required.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xs="12">
          <ion-item>
            <ion-label color="medium" position="floating">Phone Number </ion-label>
            <ion-input [readonly]="!isEditable" formControlName="phoneNumber" required type="tel"></ion-input>
          </ion-item>
          <ion-item lines="none" class="formInvalid"
            *ngIf="(profileForm.get('phoneNumber').invalid && (profileForm.get('phoneNumber').dirty || profileForm.get('phoneNumber').touched))">
            <div *ngIf="profileForm.get('phoneNumber').errors.required">
              Phone Number is required.
            </div>
            <div *ngIf="profileForm.get('phoneNumber').errors.minlength">
              Please enter at least 8 digits.
            </div>
            <div *ngIf="profileForm.get('phoneNumber').errors.maxlength">
              Number exceeded maximum length.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="isEditable">
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-col size-md="4" size-lg="2" size-xs="8">
      <ion-button [disabled]="(profileForm.pristine || profileForm.invalid)" (click)="saveUser()" [color]="userThemeColorPrimary"
        shape="round" expand="full" size="default" fill="solid"> Save </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
