<ion-header>
  <ion-toolbar>
    <ion-img src="assets/header-temp.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-margin">
  <ion-card>
    <ion-grid class="ion-padding ion-margin">
      <ion-row>
        <ion-col>
          <ion-button color="light" expand="block"> Quarantined </ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="secondary" expand="block"> Volunteer </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label color="medium" position="floating">First Name</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label color="medium" position="floating">Last Name</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label color="medium" position="floating">Email address </ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="medium" position="floating">Phone Number </ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="medium" position="floating">Password </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-row class="ion-justify-content-center ion-padding-vertical">
        <ion-col size-md="4" size-lg="3" size-xs="8">
          <ion-button color="medium" shape="round" expand="full" size="default" fill="outline"> Register </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>