  //md upto lg devices
@media (min-width:768px) {
    ion-img {
      max-width: 50vw;
      max-height: 200px;
    }
  }
  
  // xl and above devices
  @media (min-width:1200px) {
    ion-toolbar {
      height: 15vh;
    }
  
    ion-img {
      max-width: 25vw;
      max-height: 12vh;
    }
  }

  ion-card {
    height: 90%;
    display: flex;
    align-items: center;
    box-shadow: none;
  }
