.logo {
  width: 20vw;
  height: auto;
}

.lower-case-button {
  text-transform: none;
}

.footer {
  margin-top: 26vh;
}

.footericon {
  width: 17vw;
  height: auto;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.text-color{
  color: #5D5D5D;
}
