ion-button {
  --box-shadow: 0px 3px 6px #00000029;
  font-size: medium;
}

ion-grid {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 20vw;
  height: auto;
}

.lower-case-button {
  text-transform: none;
}

.footer-icon {
  width: 17vw;
  height: auto;
}

.about-us {
  margin-left: auto;
  margin-right: 10vw;
}

.text-color {
  color: #5d5d5d;
}

* {
  --padding-top: 0.8vh;
  --padding-start: 0.8vh;
  --padding-end: 0.8vh;
  --padding-bottom: 0.8vh;
}