<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed [color]="userThemeColorPrimary">
    <ion-buttons slot="start">
      <ion-back-button icon="add"></ion-back-button>
      <ion-title> Create New Request </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-margin">
  <ion-segment (ionChange)="segmentChanged($event)" value="{{segmentSelected}}">
    <ion-segment-button value="Grocery">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Grocery</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Medicine">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Medicine</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Others">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Others</ion-label>
    </ion-segment-button>
  </ion-segment>
  <form [formGroup]="requestForm" class="ion-padding-top ion-margin-top">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8" size-lg="8" size-xs="12">
        <ion-textarea formControlName="requestMessage" rows="8"
          placeholder="Describe your {{segmentSelected | lowercase}} needs in detail.">
        </ion-textarea>
      </ion-col>
    </ion-row>
    <ng-template #buttonRef>
      <ion-row class="ion-justify-content-center ion-align-items-center ion-padding-top">
        <ion-col size-xs="6" size-md="4" size-lg="3">
          <ion-button class="text-center" size="default" [color]="userThemeColorSecondary" expand="full" fill="clear"
            (click)="showPicker()"> Add
            a deadline
          </ion-button>
        </ion-col>
      </ion-row>
    </ng-template>
    <ion-row *ngIf="showDaysHours; else buttonRef"
      class="text-center ion-justify-content-center ion-align-items-center ion-padding-top">
      <ion-col size-md="2" size-lg="1" size-xs="3" offset-xs="1" class="ion-no-margin ion-no-padding">
        <ion-text [color]="userThemeColorPrimary"> Deadline </ion-text>
      </ion-col>
      <ion-col size-md="2" size-lg="1" size-xs="4" class="ion-no-margin ion-no-padding" *ngIf="deadline.days !== '0'">
        <ion-chip [color]="userThemeColorSecondary" (click)="showDaysHours=false">
          <ion-label>{{ deadline.days }} days </ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col size-md="2" size-lg="2" size-xs="4" class="ion-no-margin ion-no-padding">
        <ion-chip [color]="userThemeColorSecondary" (click)="showDaysHours=false">
          <ion-label> {{ deadline.hours }} {{ deadline.hours !== '1'? 'hours': 'hour' }} </ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
<ion-footer>
  <ion-row class="ion-justify-content-center ion-padding-vertical">
    <ion-col size-md="4" size-lg="3" size-xs="8">
      <ion-button (click)="submitRequest()" [disabled]="requestForm.invalid" [color]="userThemeColorPrimary"
        shape="round" expand="full" size="default" fill="outline">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
