// md upto lg devices
@media (min-width: 768px) {
  ion-img {
    max-width: 50vw;
    max-height: 200px;
  }
}

// xl and above devices
@media (min-width: 1200px) {
  ion-toolbar {
    height: 9vh;
  }

  ion-img {
    max-width: 20vw;
    max-height: 12vh;
  }
}

ion-textarea {
  --background: var(--ion-color-light);
}

ion-col ion-button {
  text-transform: none;
}

ion-segment-button ion-icon {
  margin-bottom: 10px;
}

.grocery {
  color: #42b67c;
}

.medicine {
  color: #d6392c;
}

.others {
  color: #8b25a5;
}

.ion-margin-horizontal {
  --ion-margin: 32px;
}
