<ion-header>
    <ion-toolbar>
        <ion-title><ion-icon name="chevron-back-outline"></ion-icon>About Us</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
   <ion-grid>
       <ion-row>
           <ion-col><ion-text>About Quarantine Help</ion-text></ion-col>
       </ion-row>
       <ion-row>
           <ion-col><ion-text>
            We are a group of young software engineers and designers based in Sweden, India and the New Zealand, united by same passion for humane technologies.<br><br> Quarantine Help project started at 2020 eary april, we aim for connecting people all over the world to combat pandemic and save lifes.<br><br> Welcome to contact us for feedback, and don't hesitate to recommend it to your friends if you think it's helpful.
           </ion-text></ion-col>
       </ion-row>
       <ion-row>
           <ion-col>
               <ion-text>Rate us in Google Play Store </ion-text>
           </ion-col>
       </ion-row>
       <ion-row>
           <ion-text>Supported by</ion-text>
           <div>
            <ion-img></ion-img>
            <ion-img></ion-img>
           </div>
       </ion-row>
   </ion-grid>
</ion-content>