<ion-item lines="none" class="ion-margin-top" (click)="viewRequest(requestData.id)" color="light" button>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <div class="space-above">
          <span> {{ requestData.createdAt | date:'MMM'  }} </span>
          <h1 class="ion-no-margin"> {{ requestData.createdAt | date:'dd'  }} </h1>
          <span> {{ requestData.createdAt | date:'yyyy'  }} </span>
        </div>
      </ion-col>
      <ion-col size="8">
        <div class="desc-padding white">
          {{ requestData.description  | slice:0:40 }} ...
        </div>
        <small> {{ requestData.createdAt | date:'shortTime' }} </small>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon class="space-above" color="danger" *ngIf="requestData.type=='M'" name="medkit"> </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>