ion-item {
  --inner-padding-end: 0px;
  --padding-start: 0px;
  border-radius: 8px;
}

.category-icon {
  zoom: 1.2;
  position: absolute;
  right: 5px;
  top: 5px;
}

.dollar-icon {
  zoom: 1.2;
  position: absolute;
  right: 24px;
  top: 5px;
}

ion-grid {
  padding: 2vw;
}

small {
  position: absolute;
  left: 10px;
  bottom: 5px;
}

.request-content {
  background-color: #ffffff;
  border-radius: 10px;
}

.description {
  background-color: var(--ion-color-primary-text-contrast);
  min-height: 100%;
  padding: 10px 25px 15px 10px;
  border-radius: 5px;
  line-height: 1.3;
}
