ion-icon {
  zoom: 2;
}
.ion-padding {
  --ion-padding: 8px;
}
.white {
  background-color: white;
  min-height: 50px;
}
.space-above {
  margin-top: 8px;
}
.item-background {
  background-color: #e9ebf4;
}
