<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed color="primary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title>Quarantine Help</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-padding-vertical">
    <ion-text color="dark">
      <h5 class="ion-padding-horizontal"> Need help? </h5>
    </ion-text>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-button (click)="createNewReq()" color="primary" shape="round" size="default" fill="outline">
        Create new request
      </ion-button>
    </ion-row>
  </div>
  <ion-item>
    <ion-text color="dark">
      <h5> My Requests </h5>
    </ion-text>
  </ion-item>
  <ion-segment (ionChange)="segmentChanged($event)" value="Open Requests">
    <ion-segment-button value="Open Requests">
      <ion-label>Open Requests</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Closed Requests">
      <ion-label>Closed Requests</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngFor="let item of allRequests" class="ion-padding-top">
    <app-request [requestData]="item"
      *ngIf="(isOpenRequests && (item.status=='P' || item.status=='T')) || (!isOpenRequests && (item.status=='C' || item.status=='F'))">
    </app-request>
  </ng-container>
</ion-content>