<ion-header translucent class="hide-lg hide-xl">
  <ion-toolbar fixed [color]="userThemeColorPrimary">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-title>Requests</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item *ngIf="userType === 'AF'" class="ion-padding-vertical" lines="none">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-text color="dark">
          <h4 class="ion-padding-horizontal"> Need help? </h4>
        </ion-text>
      </ion-row>
      <ion-button class="lower-case-button" (click)="createNewReq()" [color]="userThemeColorSecondary" fill="solid" shape="round" expand="block"
        size="large">
         Create new request
      </ion-button>
    </ion-grid>
  </ion-item>
  <ion-item lines="none">
    <ion-text color="dark">
      <h5> <strong> My Requests </strong></h5>
    </ion-text>
  </ion-item>
  <ion-segment (ionChange)="segmentChanged($event)" value="Open Requests">
    <ion-segment-button value="Open Requests">
      <ion-label>Open Requests</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Closed Requests">
      <ion-label>Closed Requests</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngFor="let item of allRequests" class="ion-padding-top">
    <app-request [requestData]="item" (requestOpened)="onRequestOpened(item)"
      *ngIf="(isOpenRequests && (item.status=='P' || item.status=='T')) || (!isOpenRequests && (item.status=='C' || item.status=='F'))">
    </app-request>
  </ng-container>
</ion-content>
