/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.toast-service-class {
  align-items: center;
  text-align: center;
  backdrop-filter: blur(2px);
}

/* 
 Missing CSS variable border-radius for ion-searchbar
 https://github.com/ionic-team/ionic/issues/18247
 */
ion-searchbar {
  input {
    border-radius: 10px !important;
  }
}

.ion-color-primary-text {
  --ion-color-base: var(--ion-color-primary-text);
  --ion-color-base-rgb: var(--ion-color-primary-text-rgb);
  --ion-color-contrast: var(--ion-color-primary-text-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-text-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-text-shade);
  --ion-color-tint: var(--ion-color-primary-text-tint);
}

.alert-backdrop {
  backdrop-filter: blur(2px);
  line-height: 1.5em;
}

.request-modal-wrapper {
  --width: 80vw;
  --height: 50vh;
  color: red;
}


/* responsive helper classes to hide content */
//xs devices
@media (max-width:576px) {
  .hide-xs {
    display: none;
  }
}

//sm devices
@media (min-width:576px) and (max-width:768px) {
  .hide-sm {
    display: none;
  }
}

//md devices
@media (min-width:768px) and (max-width:992px) {
  .hide-md {
    display: none;
  }
}

//lg devices
@media (min-width:992px) and (max-width:1200px) {
  .hide-lg {
    display: none;
  }
}

// xl devices
@media (min-width:1200px) {
  .hide-xl {
    display: none;
  }
}