<ion-header>
  <ion-toolbar>
    <ion-img src="assets/header-temp.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical">
    <label class="ion-padding"> Need help? </label>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-button (click)="createNewReq()" color="primary" shape="round" size="default" fill="outline">
        Create new request
      </ion-button>
    </ion-row>
  </div>
  <ion-item>
    <label> My Requests </label>
  </ion-item>
  <ion-segment (ionChange)="segmentChanged($event)" value="Open Requests">
    <ion-segment-button value="Open Requests">
      <ion-label>Open Requests</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Closed Requests">
      <ion-label>Closed Requests</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>