<ion-header>
  <ion-toolbar>
    <ion-img src="assets/header-temp.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding-vertical">
    <ion-text color="dark">
      <h5 class="ion-padding-horizontal"> Need help? </h5>
    </ion-text>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-button (click)="createNewReq()" color="primary" shape="round" size="default" fill="outline">
        Create new request
      </ion-button>
    </ion-row>
  </div>
  <ion-item>
    <ion-text color="dark">
      <h5> My Requests </h5>
    </ion-text>
  </ion-item>
  <ion-segment (ionChange)="segmentChanged($event)" value="Open Requests">
    <ion-segment-button value="Open Requests">
      <ion-label>Open Requests</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Closed Requests">
      <ion-label>Closed Requests</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngFor="let item of allRequests" class="ion-padding-top">
    <ion-item
      *ngIf="(isOpenRequests && (item.status=='P' ||  item.status=='T')) || (!isOpenRequests && (item.status=='C' ||  item.status=='F'))"
      class="ion-padding-top">
      <span slot="start">
        <ion-icon color="danger" *ngIf="item.type=='M'" name="bandage-outline"></ion-icon> {{ item.description }}
      </span>
      <ion-button slot="end" shape="round" color="light"> Cancel </ion-button>
      <ion-button slot="end" shape="round" color="dark"> Resolve </ion-button>
    </ion-item>
  </ng-container>
</ion-content>